/*
register.css
This file is the stylesheet for the register page.

Please refer to the LICENSE and DISCLAIMER files for more information regarding the use and distribution of this code.
By using this code, you agree to abide by the terms and conditions in those files.

Author: Noah Subedar [https://github.com/noahsub]
 */

body{
    background-color: #f7f4ef;
}

.btn-primary {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: transparent;
    background-color: #d6b689;
    border-radius: 25px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #61523D;
}

.btn-primary:disabled {
    background-color: grey;
}

label{
    font-weight: bold;
    color: #707070;
}

a {
    color: #61523D;
    font-weight: bold;
    text-decoration: none;
}

a:focus {
    color: #9d661b;
}

p {
    font-weight: bold;
}

.form-control{
    background-color: #f7f4ef;
}

.form-control:focus{
    background-color: #f7f4ef;
    outline: none;
}

.card.mx-auto{
    background-color: #f7f4ef;
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 12px;
}
